/* GoogleMap.css */
.map-container {
    position: relative;
    width: 100%;
    height: 90vh; /* Full screen height */
  }

  .map-container ion-button {
    margin: 5px;
  }
  
  capacitor-google-map {
    width: 100%;
    height: 100%;
  }